body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    background: brown;
    padding: 5px;
    color: #fff;
    text-align: center;
}

th {
    text-align: center !important;
}

a {
    color: brown;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.bg {
    background-image: url('../rice.jpg');
    background-color: #FF6600;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.text-background {
    background: rgba(255, 165, 0, 0.73);
    padding: 20px;
    font-size: 18px;
    text-align: center !important;
}

#index-text-background {
    background: rgba(255, 165, 0, 0.73);
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 26px;
}

#text-header {
    background: brown;
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

#welcome {
    color: black;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
