
<div class="text-background">
    <h2 id="welcome">Contact</h2>

    <address>
        12345 Street St<br />
        Kansas City, Missouri<br />
        <abbr title="Phone">P:</abbr>
        555.555.5555
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>