
<div id="index-text-background">
    <h2 id="welcome">Welcome to Andrea's Recipes!</h2>
    <p>Please share your recipes today!</p>
    <p>You can view or add recipes by clicking on the respective buttons above.</p>
</div>
